nav {
    align-items: center;
    padding: 1rem;
}

nav button {
    width: 5rem;
}

nav label {
    margin-left: auto;
    margin-right: 0.5rem;
}

nav select {
    margin-right: 1.5em;
}

nav h2 {
    margin-left: .3125rem;
    font-size: 1.875rem;
}

#logo {
    height: 3.125rem;
}