@import url('header.css');
@import url('footer.css');
@import url('main.css');
@import url('utils.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    flex-direction: column;
}